body{
	background-color: #f9f9f9;
	line-height: 1.3em;
}

#pagetitle{
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 2rem;
}
.container{
	padding-top: 2rem;
	position: relative;
	width: 72rem;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.boxtitles{
	font-family: "Avenir";
	color: #6c6d6c;
	margin-bottom: 1.5rem;
	font-size: 1.3em;
	font-weight: 300;
	height: 24px;
}

.visibox{
	border: 2px solid #A5A5A5;
	text-align: center;
	vertical-align: middle;
}

/* Song Boxes */

#music{
	margin-top: 30px;
}

.songbox{
	display: flex;
	flex-direction: row;
	height: 3.75rem;
	width: 20rem;
	background-color: #282828;
	margin-bottom: 10px;
	font-family: "Avenir";
	color: white;
	font-size: 1em;
	cursor: pointer;
}

.spotify{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 3.75rem;
}

.songdata{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 10px;
}

.songname{
	height: 50%;
	vertical-align: middle;
}

.artistdata{
	height: 50%;
	font-size: 0.9em;
	color: #B3B3B3;
}

/* End of Song Boxes */

/* Phase Select Boxes */
#phaseselect{
	display: flex;
	flex-direction: row;
	width: 20rem;
}

.selectbox{
	font-family: "Avenir";
	font-size: 13px;
	color: #707070;
	width: 33%;
	height: 3rem;
  display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.beta{
	margin-left: 0.5rem;
}
/* End of Phase Select */

/* Frequency Analysis Boxes */

#frequencies{
	margin-top: 30px;
}

#freqbox{
	height: 23.4rem;
	width: 20rem;
}

#textbox{
	margin-top: 2rem;
	height: 10rem;
	width: 20rem;
}

/* End of Frequency Analysis */

/* Right Pane */

#games{
	margin-top: 30px;
}

.gametitle{
	font-size: 1.3em;
	font-weight: 500;
}

#gamescreen{
	height: 44.6rem;
	width: 31rem;
}

.gamevid{
	width: 31rem;
	height: 44.6rem;
}

#s1p1{
	display: none;
}

/* End of Right Pane */

/* Wave Box */

#wave{
	height: 8rem;
	width: 100%;
}

#wavebox{
	margin-top: 2rem;
}

/* End of Wave Box */

/* Skinning the Slider */

.slider1{
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 3rem;
}

input[type=range]{
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: #1db954;
	margin-top: -14px;
}

input[type=range]:focus{
	outline: none;
}

input[type=range]::-ms-track{
	width: 100%;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
